<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.ram.mapper.ResourceMapper" >

    <select id="queryRootMenuByUserId" resultType="com.sh.ram.pojo.Resource">

        <choose>
            <when test="userId != null">
                select distinct tsr.* from t_sys_user_role tsur
                left join
                t_sys_role_resource tsrr
                on tsur.role_id = tsrr.role_id
                left join t_sys_resource tsr
                on tsrr.resource_id = tsr.id
                where tsr.type = #{type} and parent_id = #{rootId}
                and tsur.user_id = #{userId}
            </when>
            <otherwise>
                select distinct * from t_sys_resource
                where type = #{type} and parent_id = #{rootId}
            </otherwise>
        </choose>
    </select>

    <select id="queryChildMenuByParentId" resultType="com.sh.ram.pojo.Resource">

        <choose>
            <when test="userId != null">
                select distinct tsr.* from t_sys_user_role tsur
                left join
                t_sys_role_resource tsrr
                on tsur.role_id = tsrr.role_id
                left join t_sys_resource tsr
                on tsrr.resource_id = tsr.id
                where tsr.parent_id = #{parentId}
                and tsur.user_id = #{userId}
            </when>
            <otherwise>
                select distinct * from t_sys_resource
                where parent_id = #{parentId}
            </otherwise>
        </choose>
    </select>

</mapper>